<h3>log entries</h3>

<div *ngIf="message" class="alert alert-primary" role="alert">
  {{ message }}
</div>

<div>
  <a routerLink="/log-entry/log-entry-details/0">Create New</a>
</div>

<div class="form-group">
  <form (ngSubmit)="search(searchForm)" #searchForm="ngForm">
    <div class="form-group">
      <label
        >search
        <input
          type="text"
          class="form-control"
          placeholder="search"
          required
          name="searchValue"
          #recipeName="ngModel"
          [(ngModel)]="searchValue"
      /></label>
      <button type="submit" class="btn btn-primary mx-2">Search</button>
      <button
        class="btn btn-secondary mx-2"
        *ngIf="searchValue"
        (click)="reset()"
      >
        Reset
      </button>
    </div>
  </form>
</div>

<div class="form-group table-reponsive">
  <table class="table table-striped table-hover" id="search-results">
    <thead>
      <tr>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'Id'"
            type="button"
            name="sortBy"
            (click)="sortBy('Id')"
            class="btn btn-link text-decoration-none"
          >
            Id
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'Id' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('Id')"
            class="btn btn-link text-decoration-none"
          >
            <b> Id &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'Id' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('Id')"
            class="btn btn-link text-decoration-none"
          >
            <b>Id &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'Category'"
            type="button"
            name="sortBy"
            (click)="sortBy('Category')"
            class="btn btn-link text-decoration-none"
          >
            category
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'Category' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('Category')"
            class="btn btn-link text-decoration-none"
          >
            <b> category &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'Category' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('Category')"
            class="btn btn-link text-decoration-none"
          >
            <b>category &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'LogLevel'"
            type="button"
            name="sortBy"
            (click)="sortBy('LogLevel')"
            class="btn btn-link text-decoration-none"
          >
            log level
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'LogLevel' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('LogLevel')"
            class="btn btn-link text-decoration-none"
          >
            <b> log level &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'LogLevel' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('LogLevel')"
            class="btn btn-link text-decoration-none"
          >
            <b>log level &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'LogText'"
            type="button"
            name="sortBy"
            (click)="sortBy('LogText')"
            class="btn btn-link text-decoration-none"
          >
            log text
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'LogText' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('LogText')"
            class="btn btn-link text-decoration-none"
          >
            <b> log text &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'LogText' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('LogText')"
            class="btn btn-link text-decoration-none"
          >
            <b>log text &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'ExceptionText'"
            type="button"
            name="sortBy"
            (click)="sortBy('ExceptionText')"
            class="btn btn-link text-decoration-none"
          >
            exception text
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'ExceptionText' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('ExceptionText')"
            class="btn btn-link text-decoration-none"
          >
            <b> exception text &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'ExceptionText' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('ExceptionText')"
            class="btn btn-link text-decoration-none"
          >
            <b>exception text &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'EventId'"
            type="button"
            name="sortBy"
            (click)="sortBy('EventId')"
            class="btn btn-link text-decoration-none"
          >
            event id
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'EventId' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('EventId')"
            class="btn btn-link text-decoration-none"
          >
            <b> event id &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'EventId' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('EventId')"
            class="btn btn-link text-decoration-none"
          >
            <b>event id &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'State'"
            type="button"
            name="sortBy"
            (click)="sortBy('State')"
            class="btn btn-link text-decoration-none"
          >
            state
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'State' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('State')"
            class="btn btn-link text-decoration-none"
          >
            <b> state &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'State' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('State')"
            class="btn btn-link text-decoration-none"
          >
            <b>state &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'LogDate'"
            type="button"
            name="sortBy"
            (click)="sortBy('LogDate')"
            class="btn btn-link text-decoration-none"
          >
            log date
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'LogDate' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('LogDate')"
            class="btn btn-link text-decoration-none"
          >
            <b> log date &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'LogDate' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('LogDate')"
            class="btn btn-link text-decoration-none"
          >
            <b>log date &uarr;</b>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of items.currentPageValues"
        routerLink="/log-entry/log-entry-details/{{ item.id }}"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.logLevel }}</td>
        <td>{{ item.logText }}</td>
        <td>{{ item.exceptionText }}</td>
        <td>{{ item.eventId }}</td>
        <td>{{ item.state }}</td>
        <td>{{ item.logDate }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row justify-content-between">
  <div>Row Count: {{ items.totalCount }}</div>
  <div>
    <ng-container
      *ngFor="let in of getLoopArray(items.pageCount); let i = index"
    >
      <button
        *ngIf="i + 1 === items.currentPage"
        type="button"
        name="pageNumber"
        (click)="changePage(i + 1)"
        class="btn btn-secondary"
      >
        {{ i + 1 }}
      </button>
      <button
        *ngIf="i + 1 !== items.currentPage"
        type="button"
        name="pageNumber"
        (click)="changePage(i + 1)"
        class="btn btn-light"
      >
        {{ i + 1 }}
      </button>
    </ng-container>
  </div>
</div>
