<h3>lookup</h3>
<ng-container *ngIf="!hideCreate">
  <div>
    <a routerLink="/lookup/lookup-details/0">Create New</a>
  </div>
</ng-container>

<div *ngIf="message" class="alert alert-primary" role="alert">
  {{ message }}
</div>

<div class="form-group table-reponsive">
  <table class="table table-striped table-hover" id="search-results">
    <thead>
      <tr>
        <th>Display Order</th>
        <th>Lookup Type</th>
        <th>Lookup Key</th>
        <th>Lookup Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items" (click)="rowClicked($event, item)">
        <td>{{ item.displayOrder }}</td>
        <td>{{ item.lookupType }}</td>
        <td>{{ item.lookupKey }}</td>
        <td>{{ item.lookupValue }}</td>
      </tr>
    </tbody>
  </table>
</div>
