<h3>user</h3>

<div *ngIf="message" class="alert alert-primary" role="alert">
  {{ message }}
</div>

<div>
  <a routerLink="/user/user-details/0">Create New</a>
</div>

<div class="form-group">
  <form (ngSubmit)="search(searchForm)" #searchForm="ngForm">
    <div class="form-group">
      <label
        >search
        <input
          type="text"
          class="form-control"
          placeholder="search"
          required
          name="searchValue"
          #recipeName="ngModel"
          [(ngModel)]="searchValue"
      /></label>
      <button type="submit" class="btn btn-primary mx-2">Search</button>
      <button
        class="btn btn-secondary mx-2"
        *ngIf="searchValue"
        (click)="reset()"
      >
        Reset
      </button>
    </div>
  </form>
</div>

<div class="form-group table-reponsive">
  <table class="table table-striped table-hover" id="search-results">
    <thead>
      <tr>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'Username'"
            type="button"
            name="sortBy"
            (click)="sortBy('Username')"
            class="btn btn-link text-decoration-none"
          >
            username
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'Username' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('Username')"
            class="btn btn-link text-decoration-none"
          >
            <b> username &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'Username' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('Username')"
            class="btn btn-link text-decoration-none"
          >
            <b>username &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'Source'"
            type="button"
            name="sortBy"
            (click)="sortBy('Source')"
            class="btn btn-link text-decoration-none"
          >
            Source
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'Source' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('Source')"
            class="btn btn-link text-decoration-none"
          >
            <b> Source &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'Source' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('Source')"
            class="btn btn-link text-decoration-none"
          >
            <b>Source &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'EmailAddress'"
            type="button"
            name="sortBy"
            (click)="sortBy('EmailAddress')"
            class="btn btn-link text-decoration-none"
          >
            email address
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'EmailAddress' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('EmailAddress')"
            class="btn btn-link text-decoration-none"
          >
            <b> email address &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'EmailAddress' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('EmailAddress')"
            class="btn btn-link text-decoration-none"
          >
            <b>email address &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'FirstName'"
            type="button"
            name="sortBy"
            (click)="sortBy('FirstName')"
            class="btn btn-link text-decoration-none"
          >
            first name
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'FirstName' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('FirstName')"
            class="btn btn-link text-decoration-none"
          >
            <b> first name &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'FirstName' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('FirstName')"
            class="btn btn-link text-decoration-none"
          >
            <b>first name &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'LastName'"
            type="button"
            name="sortBy"
            (click)="sortBy('LastName')"
            class="btn btn-link text-decoration-none"
          >
            last name
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'LastName' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('LastName')"
            class="btn btn-link text-decoration-none"
          >
            <b> last name &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'LastName' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('LastName')"
            class="btn btn-link text-decoration-none"
          >
            <b>last name &uarr;</b>
          </button>
        </th>
        <th>
          <button
            *ngIf="items.currentSortProperty !== 'PhoneNumber'"
            type="button"
            name="sortBy"
            (click)="sortBy('PhoneNumber')"
            class="btn btn-link text-decoration-none"
          >
            phone number
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'PhoneNumber' &&
              items.currentSortDirection === 'descending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('PhoneNumber')"
            class="btn btn-link text-decoration-none"
          >
            <b> phone number &darr;</b>
          </button>
          <button
            *ngIf="
              items.currentSortProperty === 'PhoneNumber' &&
              items.currentSortDirection === 'ascending'
            "
            type="button"
            name="sortBy"
            (click)="sortBy('PhoneNumber')"
            class="btn btn-link text-decoration-none"
          >
            <b>phone number &uarr;</b>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of items.currentPageValues"
        routerLink="/user/user-details/{{ item.id }}"
      >
        <td>{{ item.username }}</td>
        <td>{{ item.source }}</td>
        <td>{{ item.emailAddress }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.phoneNumber }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row justify-content-between">
  <div>Row Count: {{ items.totalCount }}</div>
  <div>
    <ng-container
      *ngFor="let in of getLoopArray(items.pageCount); let i = index"
    >
      <button
        *ngIf="i + 1 === items.currentPage"
        type="button"
        name="pageNumber"
        (click)="changePage(i + 1)"
        class="btn btn-secondary"
      >
        {{ i + 1 }}
      </button>
      <button
        *ngIf="i + 1 !== items.currentPage"
        type="button"
        name="pageNumber"
        (click)="changePage(i + 1)"
        class="btn btn-light"
      >
        {{ i + 1 }}
      </button>
    </ng-container>
  </div>
</div>
